<div class="container">
  
  <h2>Login</h2>
  
  <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
    
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :email %><br>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter Password" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>