<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
  <%= form_for @recipe do |f| %>
  
    <div class="form-group">
      <label for=""><%= f.label :name %></label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label for=""><%= f.label :summary %></label>
      <%= f.text_field :summary, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <div class="control-label">
        <%= f.label :description %>
      </div>
      <div class="">
        <%= f.text_area :description, rows: 10, class: "form-control" %>
      </div>
    </div>
    
    <%= f.submit(@recipe.new_record? ? "Create Recipe" : "Edit Recipe", class: "btn btn-success") %>
    
  <% end %>
  </div>
</div>