<div class="container">
  <div class="col-md-8 col-md-offset-2 stream-items">
    <% @recipes.each do |recipe| %>
    <section class="stream">
      <div class="row">
        
        <div class="col-md-1">
          <%= gravatar_for(recipe.chef, size: 50) %>
        </div>
        
        <div class="col-md-11">
          <%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, recipe_path(recipe), method: :delete, 
                                                        data: {confirm: "Are you sure you want to delete the recipe?"}, 
                                                        class: "btn btn-sm btn-danger pull-right" %>
          <h4><small>@<%= recipe.chef.chefname %></small></h4>
          <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
          <h3><small><%= recipe.summary %></small></h3>
          <small><%= time_ago_in_words(recipe.created_at) %> ago</small>
        </div>
        
      </div>
    </section>
    <% end %>
  </div>
</div>