<div class="container">
  <h2><%= @recipe.name %></h2>
  <div class="row">
    <div class="col-md-2" >
      <%= gravatar_for(@recipe.chef, size: 100) %>
      <p>Recipe by: Chef <%= @recipe.chef.chefname %></p>
      <p>"<%= @recipe.summary %>"</p>
    </div>
    <div class="col-md-8">
      <%= link_to "Edit This Recipe", edit_recipe_path(@recipe), class: "btn btn-primary" %>
      <br><br>
      <div class="recipe-directions">
        <p>
          <strong>Directions:</strong>
        </p>
        <%= simple_format(@recipe.description) %>
      </div>
    </div>
  </div>
</div>